@using MegaManager.Models
@model IEnumerable<Entry>
@{
    ViewData["Title"] = "All entries";
}

<style>
    table {
        border-collapse: collapse; /* Объединяем границы ячеек в одну */
        width: 100%; /* Ширина таблицы 100% от родительского контейнера */
    }

    th, td {
        border: 1px solid black; /* Устанавливаем черную границу толщиной 1 пиксель */
        padding: 8px; /* Добавляем отступы вокруг содержимого ячеек */
        text-align: left; /* Выравнивание текста по левому краю */
    }

    th {
        background-color: #f2f2f2; /* Цвет фона для заголовков */
    }
</style>



<table>
    <thead>
        <tr>
            <th>Address</th>
            <th>Password</th>
            <th>Copy</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var entry in Model)
        {
            <tr>
                <td>@entry.Address</td>
                <td>@entry.Password</td>
                <td>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             height="24px"
                             viewBox="0 0 24 24"
                             width="24px"
                             fill="black">

                            <path d="M0 0h24v24H0V0z" fill="none" />

                            <path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4H8c-1.1 0-1.99.9-1.99 2L6 21c0 1.1.89 2 1.99 2H19c1.1 0 2-.9 2-2V11l-6-6zM8 21V7h6v5h5v9H8z" />
                        </svg>
                    </button>
                </td>
                <td>
                    <button>
                        <svg xmlns="http://www.w3.org/2000/svg"
                             height="24px"
                             viewBox="0 0 24 24"
                             width="24px"
                             fill="black">

                            <path d="M0 0h24v24H0V0z" fill="none" />

                            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
                        </svg>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


