@model IEnumerable<MegaManager.Models.Entry>

@{
    ViewData["Title"] = "Entries";
}

<h2>Entries</h2>

<p>
    <a class="btn btn-primary" asp-action="Create">Add Entry</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>URL</th>
            <th>Login</th>
            <th>Password</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.URL</td>
                <td>@item.Login</td>
                <td>@item.Password</td>
                <td>@item.Notes</td>
            </tr>
        }
    </tbody>
</table>
