<style>
    /* Стили для формы и сообщения об ошибке */
    .form-container {
        margin-top: 20px; /* Отступ сверху */
        text-align: center;
    }

    .error-message {
        color: red;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .form-container form {
        display: inline-block;
        text-align: left;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-container label {
        display: block;
        margin-bottom: 10px;
    }

    .form-container input[type="text"] {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    .form-container button[type="submit"] {
        margin-top: 10px;
        background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
    }

        .form-container button[type="submit"]:hover {
            background-color: #45a049;
        }
</style>

<body>
    <div class="form-container">
        @if (!string.IsNullOrEmpty(TempData["ErrorMessage"] as string))
        {
            <p class="error-message">@TempData["ErrorMessage"]</p>
        }
        <form asp-controller="Entries" asp-action="VerifySecretWord" method="post">
            <label for="secretWord">Введи Мастер-пароль:</label>
            <input type="text" id="secretWord" name="secretWord" />
            <button type="submit">Далее</button>
        </form>
    </div>
</body>