@{

}

<div class="text-center">
    <h1 class="display-4">Вас приветствует MegaManager!</h1>
</div>

<hr />

<div>
    <h2>Что это за проект?</h2>
    <p>MegaManager - это современное и безопасное приложение для управления паролями. Мы понимаем, насколько важно в наше время защищать свои онлайн-аккаунты и данные. Наш проект создан для того, чтобы помочь пользователям надежно хранить и управлять своими паролями.</p>

    <h3>Основные функции Password Manager:</h3>
    <ul>
        <li><strong>Безопасное хранение паролей:</strong> Все пароли хранятся в зашифрованном виде, что обеспечивает высокий уровень безопасности.</li>
        <li><strong>Генератор паролей:</strong> Инструмент для создания сложных и надежных паролей для ваших аккаунтов.</li>
        <li><strong>Мультиплатформенность:</strong> Доступ к вашим паролям с любых устройств - компьютеров, планшетов и смартфонов.</li>
    </ul>

    <h3>Наша миссия</h3>
    <p>Мы стремимся обеспечить максимальную безопасность и удобство для всех наших пользователей. Наша команда непрерывно работает над улучшением приложения и внедрением новых функций, чтобы сделать управление паролями еще более простым и надежным.</p>

    <h3>Контакты</h3>
    <p>Если у вас есть вопросы или предложения, пожалуйста, свяжитесь со мной в Телеграм: <a href="https://t.me/EasyVVay">t.me/EasyVVay</a>.</p>
    
    <h3>Разработчки</h3>
    <p></p>


</div>
