@{
    ViewData["Title"] = "Политика конфиденциальности";
}
<h1>@ViewData["Title"]</h1>

<p>Используйте эту страницу для подробного описания политики конфиденциальности вашего сайта.</p>

<h2>Сбор информации</h2>
<p>Мы собираем различные виды информации для различных целей, чтобы предоставить и улучшить наши услуги для вас.</p>

<h2>Использование информации</h2>
<p>Собранная информация используется для различных целей, таких как предоставление и поддержка наших услуг, уведомление вас о изменениях, предоставление клиентской поддержки и анализа данных для улучшения наших услуг.</p>

<h2>Передача данных</h2>
<p>Ваша информация, включая персональные данные, может быть передана и храниться на серверах за пределами вашего штата, провинции, страны или другой правительственной юрисдикции, где законы о защите данных могут отличаться от законов вашей юрисдикции.</p>

<h2>Безопасность данных</h2>
<p>Безопасность ваших данных важна для нас, но помните, что ни один метод передачи данных через Интернет или метод электронного хранения не является на 100% безопасным. Мы стремимся использовать коммерчески приемлемые средства для защиты ваших персональных данных, но не можем гарантировать их абсолютную безопасность.</p>

<h2>Изменения в политике конфиденциальности</h2>
<p>Мы можем обновлять нашу Политику конфиденциальности время от времени. Мы уведомим вас о любых изменениях, разместив новую Политику конфиденциальности на этой странице. Рекомендуется периодически просматривать эту Политику конфиденциальности на предмет изменений.</p>

<h2>Контакты</h2>
<p>Если у вас есть какие-либо вопросы по поводу этой Политики конфиденциальности, пожалуйста, свяжитесь с нами.</p>